    <div class='container'>
        <div class="card col-md-6">
                <div class="card-body"> 
                    <h2 class="card-title d-flex justify-content-between mb2">
                        <span>Resumen</span>
                    </h2>  
                    <div class='table-responsive'>
                        <table class="table table-primary table-striped table-bordered table-condensed">
                            <tr>
                                <td>
                                    <h5>Cantidad de ingresos</h5>
                                </td>
                                <td>
                                    <h6>XXX</h6>  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Cantidad de Egresos</h5>
                                </td>
                                <td>
                                    <h6>XXX</h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="card">
                <div class="card-body"> 
                    <h2 class="card-title d-flex justify-content-between mb2">
                        <span>Listado de Servicios</span>
                    </h2>  
                    <div class='table-responsive-sm'>
                        <table class="table table-bordered">
                            <thead class='table-primary'>
                                <tr>
                                <th scope="col">Número de orden</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td>Name</td>
                                    <td>Description</td>
                                    <td>Status</td>                                
                                    <td> <%= link_to 'Tracking',  class: 'btn btn-success btn-sm' %></td>
                                    <td> <%= link_to 'Factura',  class: 'btn btn-primary btn-sm' %></td>
                                </tr>
                            </tbody>              
                            
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>


